* {
    font-family: 'Times New Roman';
}

/* Layout Index */

span.logo > a {
    color: white;
}

div#catalog {
    background: url('/images/catalog.png') bottom right no-repeat #555;
    color: white;
}

div#patrons {
    background: url('/images/patrons.png') bottom right no-repeat #555;
    color: white;
}

div#branches {
    background: url('/images/branches.png') bottom right no-repeat #555;
    color: white;
}

h2.homeLabel {
    height: 210px;
}

div.indexCard {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.Out {
    border: 1px dashed black;
    text-align: center;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.cContainer {
    margin-right: 1%;
}

.Out > span {
    padding: 10px;
}

/* Catalog */

.changeWidth {
    width: 80%;
    margin: 0 auto;
}

/* Branch */

.branchImage {
    width: 100%;
}

div.lowered {
    margin-top: 24px;
}

/* Other */

.imageCell {
    min-width: 60% !important;
    max-width: 60% !important;
    min-height: 60% !important;
    max-height: 60% !important;
}

.detailImage {
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
}

.jumbotron > .row > div > p {
    padding-left: 4px;
}

tr.detailInfo > td {
    padding-bottom: 10px;
}

div.page-content {
    margin: 0 auto;
}

#patronHasFees {
    color: darkred;
    font-weight: bold;  
}

#patronId {
    color: darkslategrey;
    padding: 3px;
    font-weight: bold;
    font-size: .8rem;
}